.banniere{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
    height: auto;
}
.box{
    display: flex;
    width: 90%;
    position: relative;
    justify-content: center;
    -webkit-justify-content:center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    height: auto;
}
.box-img{
    width: 24%;
    margin:auto;
    height:auto;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20%;
    width:auto;
    display: none;
}
.reduce-img{
    width: 24%;
    margin:auto;
    height:auto;
    display: block;
}



@media screen and (max-width:500px){
    .reduce-img{
        display: none;
    }
    .box-img{
        width: 50%;
        height:auto;
    }
    
}

